{:lang-mbin-dir "D:\\NMSUnpacked\\LANGUAGE"
 :mbin-compiler-dir "C:\\Projects\\NoManSkyMods"
 :substance-filename "NMS_REALITY_GCSUBSTANCETABLE.MBIN"
 :substance-mbin-dir "D:\\NMSUnpacked\\METADATA\\REALITY\\TABLES"
 :product-mbin-dir "D:\\NMSUnpacked\\METADATA\\REALITY\\TABLES"
 :product-filename "NMS_REALITY_GCPRODUCTTABLE.MBIN"}
