.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 95%;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.main {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  border-width: 1px;
  border-style: solid;
}
.applist {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  border-width: 1px;
  border-style: solid;
  max-width: 15em;
}
.app {
  font-weight: bold;
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
  padding: 3px;
}
.appinfo-cnt {
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
  padding: 3px;
}
#appinfo {
  flex-grow: 5;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  background-color: lightgray;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-1 > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-2 > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-3 > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}